# ---------------------------------------------------------------------------
# .NET / C#
# ---------------------------------------------------------------------------
# Build results
[Bb]in/
bin\Debug\*
bin\Debug
[Oo]bj/
[Oo]ut/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]uild/
[Ll]og/
[Ll]ogs/